<% include partials/header %>
<h2 class="newarticleheader">Click here to<a href="/articles/add"> create new article</a></h2>
<h1 class="headerlist"> Lists of Articles: <h1>
<% articlelist.forEach(article =>{ %>
	<a href="/articles/<%= article.id %>"></a>
	<h2 class="articletitle"> <%= article.title %></h2>
	<div class="articlebutton">
		<button class="editbutton"><a class="aquabutton" href="/articles/<%= article.id %>/edit">Edit</a></button>
		<button class="deletebutton"><a class="aquabutton" href="/articles/<%= article.id %>/delete">Delete</a></button>
		<button class="morebutton"><a class="aquabutton" href="/articles/<%= article.id %>">More</a></button>
	</div>
<% }) %>