<% include partials/header %>
<h1> Lists of Articles <h1>
<a href="/articles/add">Create New Article</a>
<% articlelist.forEach(article =>{ %>
	<a href="/articles/<%= article.id %>"></a>
	<h1> <%= article.title %></h1>
	<a href="/articles/<%= article.id %>/edit">Edit</a> 
	<a href="/articles/<%= article.id %>/delete">Delete</a>
	<a href="/articles/<%= article.id %>">More</a>
<% }) %>
<div>
	<a href="/users/logout">Logout</a>
</div>
