<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>

<% include partials/header %>
<center>
<a href="/articles/add" class="button is-link"> create new article</a>
</center>
<h1 class="paddingl-50 title"> Lists of Articles: <h1>
	<div class="flex">
		<% articlelist.forEach(article => { %>
			<a href="/articles/<%= article.id %>"></a>
	<div class="articles-box">
			<h2 class="articletitle"> <%= article.title %></h2>
			<h4 class="articledate"> <%= article.created_at %></h4>
			<small class="articlelikes"> <%= article.likes %> likes</small>
			<div class="articlebutton">
				<a class="button is-primary is-light" href="/articles/<%= article.id %>/edit">Edit</a>
				<a class="button is-danger is-light" href="/articles/<%= article.id %>/delete">Delete</a>
				<a class="button is-info is-light" href="/articles/<%= article.id %>">More</a>
			</div>
	</div>

		<% }) %>

	</div>
</body>
	</html>	