<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" href="/stylesheets/style.css">
	  <meta charset="utf-8">
	</head>
		<body>
			<h2 class="single-home">Click here to go back to <a href="/articles"> home</a></h2> 
			<h1 class="single-header"><%=article.title%></h1>
			<h3 class="single-deslik"><%=article.description%></h2>
			<h3 class="single-deslik"><%=article.likes%></h3>
			<div class="like-button">
				<button><a href="/articles/<%= article.id %>/like">Like</a></button>
			</div>
			<p class="single-author"><span class="span-Written">Written By:</span> <%= article.authorId.name %></p>
			<p class="single-author"><%= article.authorId.email %></p>
			
			<div>
				<h1 class="comment-header">Comments:</h1>
				<% comments.forEach((comment) =>{ %>
					<h2 class="comment-text"> <%= comment.content %></h2>
					<p class="comment-author"> <%= comment.author.name %></p>
					<div class="commentbutton">
						<button class="editbutton"><a class="aquabutton" href="/comments/<%=comment.id%>/edit">Edit</a></button>
						<button class="deletebutton"><a class="aquabutton" href="/comments/<%=comment.id%>/delete">Delete</a></button>
					</div>
				<% }) %>
			</div>
			<div class="comment-secttion">
				<form action="/comments" method="POST">
					<input class="comment-input" type="text" name="content" placeholder="Add your comment">
					<input type="hidden" name="articleId" value="<%= article.id%>">
					<button class="comment-button" type="submit">Comment</button>
				</form>
			</div>
		</body>
</html>